<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Upload file to S3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.23.0/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>UMARZAMY KREDYTY WE FRANKACH</h1>

      <div v-if="!pdf">
        <h2>SPRAWDŹ SWOJĄ UMOWĘ KREDYTOWĄ</h2>
        <br><br>
        <input type="file" @change="onFileChange" accept="application/pdf">
      </div>
      <div v-else><br><br>
        <button v-if="!uploadURL" @click="uploadPDF">Załącz umowę</button>
      </div>
      <h2 v-if="uploadURL">Poprawnie załączono plik</h2>
      <div v-if="result !== ''" :class="result === 'Klauzula abuzywna znaleziona.' ? 'result-box-green' : 'result-box-red'">{{ result }}</div>
      <br>
      <button v-if="result !== ''" @click="refreshPage">Odśwież</button>
      <br>
      <button v-if="uploadURL && result === ''" @click="checkResult">Sprawdź umowę</button>
      <br>
    </div>

    <script src="script.js"></script>
    
  </body>
</html>
