body {
    background: #20262e;
    padding: 20px;
    font-family: sans-serif;
  }
  #app {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
    text-align: center;
  }
  #logo {
    width: 100px;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  h1,
  h2 {
    font-weight: normal;
    margin-bottom: 15px;
  }
  a {
    color: #42b983;
  }
  .result-box-green {
    margin-top: 20px;
    padding: 10px;
    background-color: #cdeac0;
    border: 1px solid #42b983;
    color: #0c682d;
    font-weight: bold;
  }
  .result-box-red {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    color: #842029;
    font-weight: bold;
  }